@import '@/styles/variables.scss';

.cell {
  --cell-base-color: hsl(30, 59%, 75%);
  --duration: 500ms;
  --delay: 400ms;
  --x: 0;
  --y: 0;
  --z-index: 3;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cell-base-color);
  width: var(--cell-width);
  height: var(--cell-height);
  top: calc((var(--cell-width) + var(--gap)) * var(--y) + var(--gap));
  left: calc((var(--cell-width) + var(--gap)) * var(--x) + var(--gap));
  border-radius: calc(var(--gap) * 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
  font-weight: 600;
  position: absolute;
  transition-property: top, left;
  transition-duration: var(--duration);
  transition-timing-function: ease-in;
  z-index: var(--z-index);

  &Bouncing {
    animation: bouncing var(--delay) var(--duration) both;
  }

  &Hide {
    opacity: 0.5;
  }

  &Created {
    // transition-duration: 0;
    animation: fade-in 200ms ease-in-out 100ms 1 backwards;
  }

  &2 {
    --cell-base-color: hsl(39, 51%, 86%)
  }

  &4 {
    --cell-base-color: hsl(28, 82%, 71%)
  }

  &8 {
    --cell-base-color: hsl(21, 88%, 67%)
  }

  &16 {
    --cell-base-color: hsl(21, 88%, 67%)
  }

  &32 {
    --cell-base-color: hsl(11, 89%, 67%)
  }

  &64 {
    --cell-base-color: hsl(11, 91%, 60%)
  }

  &128 {
    --cell-base-color: hsl(45, 77%, 69%)
  }

  &256 {
    --cell-base-color: hsl(46, 79%, 66%)
  }

  &512 {
    --cell-base-color: hsl(46, 81%, 62%)
  }

  &1024 {
    --cell-base-color: hsl(46, 83%, 59%)
  }

  &2048 {
    --cell-base-color: hsl(47, 84%, 55%)
  }

  &4096 {
    --cell-base-color: hsl(200, 54%, 63%)
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes bouncing {
  0% {
    transform: scale(1.05);
    opacity: 1
  }

  50% {
    transform: scale(1.1);
    opacity: .8;
  }

  60% {
    transform: scale(0.85);
    opacity: 1
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}