@import '@/styles/variables.scss';

.controlPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  flex-direction: column;
  font-weight: 600;
  font-size: 36px;
  width: 100%;
  max-width: 60vmin;
  vertical-align: middle;
}

.score {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}