@import '@/styles/variables.scss';

.empty {
  --cell-base-color: hsl(30, 19%, 75%);

  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cell-base-color);
  width: calc(var(--size-board) / var(--rows))px;
  border-radius: calc(var(--gap) * 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
  font-weight: 600;
}